/** CSS added by Adit **/
body{
  font-family: 'Times New Roman', Times, serif   !important;
  background-color:white;
  font-size:100%;
}


.mainmenulink{
  font-size: 150%!important;
  background-color:darkblue;
  color:white;
  font-weight:450;
  opacity: 0.9;

}
/* similar class created to prevent handling of the page in browser by not changing the 
size in case of long menu while mouseover event and thereby preventing breaking of the line and shifting of 
"more about IAS" on other line*/
.mainmenulinkbig{
  font-size: 150%!important;
  background-color:darkblue;
  color:white;
  font-weight:450 ;
  opacity:0.9;
}
.mainmenulink:hover{
  font-size :150%!important;
  color:white;
  opacity: 1;
}
.mainmenulinkbig:hover{
  font-size: 150%!important;
  color:white;
  opacity:1;
}
.mainheading{
  font-size: 30px;
  font-weight: bold;
  color:darkblue;
  border: black solid 5px;
  border-radius: 15px;
  text-align: center;
  padding-top:5px;
  padding-bottom: 5px;

}
.ieeenav{
 background-color:darkblue;
}

.textbox{
  background-color:white;
  color:darkgreen;
  border: 5px darkblue groove;
  padding:3%;
}
#dropdown7 a{
  color:black !important;
}
/* The below CSS is created for the contact.html page.*/
.contactWrapper h4{
  color: black;
  text-decoration: underline;
  font-size: 300%;
}
.contactWrapper a{
  font-size:90% ;
  color:darkblue;
}
.contactWrapper p{
  font-size:130%;
  color:darkblue;
}
.contactWrapper hr{
  color:black;
  background-color:black;
}

/* CSS added by Adit over */
.topNavyblueDiv{
  min-height: 80px!important;
  color: #533838!important;
}

/*-- Stylings for overlay content --*/

.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: rbga(0,0,0,0.8);
  transform: translateY(-100%);
}

.overlaySlideDown{
  transition: all 0.4s ease-in-out;
  transform: translateY(0);
}

.overlaySlideUp{
  transition: all 0.8s ease-in-out;
  transform: translateY(-100%);
}

.overlayNavigation{
  background: #617367!important;
}

.overlayNavigation, .overlayNavigation ul{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.overlayNavigation ul{
  display: flex;
  list-style: none;
}

.overlayNavigation ul li{
  flex-basis: 20%;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  transform: translateY(-100%);
}

.overlayNavigation li a{
  position: relative;
  top: 46%;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 30px;
  transition: 0.2s;
  color: #505152;
}

.overlayNavigation li a:hover{
  transform: scale(1.1);
}

.overlayNav1{
  background-color:red;
}

.overlayNav2{
  background-color: #39cb66;
}

.overlayNav3{
  background-color: #88e4a3;
}

.overlayNav4{
  background-color: #acf9c3;
}

.overlayNav5{
  background-color: #e8fbee;
}

.slideInNavItem{
  animation: slideInNavItem 0.4s linear 1 0.2s both;
}

.slideInNavItemDelay1{
  animation: slideInNavItem 0.4s linear 1 0.4s both;
}

.slideInNavItemDelay2{
  animation: slideInNavItem 0.4s linear 1 0.6s both;
}

.slideInNavItemDelay3{
  animation: slideInNavItem 0.4s linear 1 0.8s both;
}

.slideInNavItemDelay4{
  animation: slideInNavItem 0.4s linear 1 1s both;
}

.slideInNavItemReverse{
  animation: slideInNavItemReverse 0.3s linear 1 0.5s both;
}

.slideInNavItemReverse1{
  animation: slideInNavItemReverse 0.3s linear 1 0.4s both;
}

.slideInNavItemReverse2{
  animation: slideInNavItemReverse 0.3s linear 1 0.3s both;
}

.slideInNavItemReverse3{
  animation: slideInNavItemReverse 0.3s linear 1 0.2s both;
}

.slideInNavItemReverse4{
  animation: slideInNavItemReverse 0.3s linear 1 both;
}

/*-- for Menu button container styling --*/
.menuBtnContainer{
  width: 100%;
  min-height: 45px;
  background: #212f3c;
}

/* For Menu buttons stylings */
.openOverlay{
  position: relative;
  z-index: 100;
  width: 40px;
  display: block;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  left: 10px;
}

.openOverlay span{
  display: block;
  height: 2px;
  background: #acacac;
  cursor: pointer;
  margin-top: 8px;
}

.overLayInfo {
  position: absolute;
  left: 50px;
  top: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 2px;
}

.webNavBarInfo{
  cursor: pointer;
  position: absolute;
  display: none;
  top: 10px;
  right: 30px;
  z-index: 98;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 2px;
}

.animateTopBar1{
  animation: animateTopBar1 0.6s linear 1 both;
}

.animateBottomBar1{
  animation: animateBottomBar1 0.6s linear 1 both;
}

.animateMiddleBar1{
  animation: animateMiddleBar1 0.6s linear 1 both;
}

.animateOutTopBar1{
  animation: animateOutTopBar1 0.6s linear 1 both;
}

.animateOutBottomBar1{
  animation: animateOutBottomBar1 0.6s linear 1 both;
}

.animateOutMiddleBar1{
  animation: animateOutMiddleBar1 0.6s linear 1 both;
}

/* regular stylings */

.menu{
  color: #fff;
	float: right;
	margin-top: 5px;
	margin-right: 15px;
	display: block;
	background-color: #212f3c;
	z-index: 5;
  border: none;
  outline:none;
}

.menu:focus{
  outline:none;
}

.makeBlue{
  color: #2196f3!important;
}

.topNavLinks{
  color:white!important;
  display: inline-block;
  margin-right: 13px !important;
  margin-top: 10px !important;
  margin-left: 17px !important;
  padding-top: 15px !important;
  font-size: 16px;
  text-decoration: none;
}

.topNavLinks:after {
  display:block;
  content: '';
  border-bottom: solid 3px white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.webCopyright{
  width: 100%;
  color: #ececec;
  text-align: center;
}

.webCopyright p{
  margin-bottom: 0!important;
  padding: 5px 0px;
}

.topNavLinks:hover:after{
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

.siteMapLink{
  color: white;
}

.siteMapLink:hover{
  color:palegreen!important;
}

.usefulLink{
  color:white;
}

.usefulLink:hover{
  color:palegreen!important;
}

.activeLink{
  background-color: #CDF4C8!important;
  pointer-events: none!important;
  font-weight: bold;
  color: #212f3c!important;
}

.activeAchieveLink{
  background-color: #CDF4C8!important;
  font-weight: bold;
  color: #212f3c!important;
}
.devLink{
  transition: hover 250ms ease-in-out;
}

.devLink:hover{
  color:palegreen!important;
}

.websiteLink{
  font-weight: bold;
  font-size: 120%;
}

.contactWrapper{
  width: 100%;
  display: block;
  text-align: center;
}

@media (max-width: 740px){
  .centerThisContact{
    width: 100%;
    display: block;
  }
}


/* media query */
@media (max-width: 620px) {

    body{
      font-size: 16px;
    }

  .menuBtnContainer{
		display: block;
	}

  .topNavyblueDiv{
      text-align: center;
      display: none;
      height: 280px!important;
  }

  .topNavLinks{
    width: 80%;
    display: none;
    padding: 20px 0px 0px 0px!important;
    margin: 0px auto!important;
  }
}

@media (min-width: 621px){
  .topNavyblueDiv{
    display: block;
  }
}

/* ============================================
    ANIMATION KEYFRAMES
   ============================================ */

@keyframes slideInNavItem {
  from{
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to{
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes slideInNavItemReverse {
  from{
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  to{
    -webkit-tranform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes animateTopBar1 {
  0%{
    background-color: #acacac;
  }
  50%{
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }
  80%{
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #fff;
  }
  100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363B;
  }
}

@keyframes animateBottomBar1 {
  0%{
    background-color: #acacac;
  }
  50%{
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
  80%{
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #fff;
  }
  100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363B;
  }
}

@keyframes animateMiddleBar1 {
  0%{
    background-color: #acacac;
  }
  50%{
    background-color: #fff;
  }
  100%{
    background-color: #29363B;
  }
}

@keyframes animateOutTopBar1 {
  0%{
    background-color: #29363B;
  }
  50%{
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }
  80%{
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #acacac;
  }
}

@keyframes animateOutBottomBar1 {
  0%{
    background-color: #29363B;
  }
  50%{
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
  80%{
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #29363B
  }
  100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #acacac;
  }
}

@keyframes animateOutMiddleBar1 {
  0%{
    background-color: #29363B;
  }
  50%{
    background-color: #29363B;
  }
  80%{
    background-color: #29363B;
  }
  100%{
    background-color: #acacac;
  }
}

/* ============================================
    Media Querries
   ============================================ */
@media (max-width:1052px) {

  .overlayNavigation li a{
    font-size: 22px;
  }

}

@media (max-width:700px) {

  .overlayNavigation li a{
    font-size: 13px;
    padding: 0px!important;
  }

}
