.conferenceTab{
  margin: 20px 0px;
}
.tabs .active{
  background-color:lightgrey!important;
  color:black !important;
  font-weight: 500;
}

/*.tabs .active{
  background: #ececec!important;
}*/

/*.tabs a{
  color: grey!important;
  font-weight: 500;
}*/
