.topNavyblueDiv{
  min-height: 80px!important;
}
/* CSS added by Adit */
.textbox{
  background-color:whitesmoke;
  color:darkred;
  border: 5px darkblue groove;
  padding:3%;
}
.texthead{
  font-weight: 450 !important;
  color:black;
} 

/* CSS added by Adit over */
/*.menuBtnContainer{
	width: 100%;
	height: 35px;
	background-color: #000000;
	display: none;
}*/

.menu{
	float: right;
	margin-top: 5px;
	margin-right: 15px;
	display: block;
	background-color: #212f3c;
	z-index: 5;
  border: none;
  outline:none;
}

.menu:focus{
  outline:none;
}

.topNavLinks{
  color:white!important;
  display: inline-block;
  margin-right: 15px !important;
  margin-top: 10px !important;
  margin-left: 15px !important;
  padding-top: 15px !important;
  text-decoration: none;
  font-weight: bold;
}

.topNavLinks:after {
  display:block;
  content: '';
  border-bottom: solid 3px white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.topNavLinks:hover:after{
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

.siteMapLink{
  color: white;
}

.siteMapLink:hover{
  color:palegreen!important;
}

.usefulLink{
  color:white;
}

.usefulLink:hover{
  color:palegreen!important;
}

.mySlider{
  width: 100%;
  height: auto;
}

#sliderContent img{
  width: 100%;
  height: 70vh;
}

.prev,.next{
  width: 20px;
  height: 20px;
}

#imageInfo{
  display: block;
  text-align: center;
  font-weight: bold;
  color: #212f3c;
}

.sliderRightArrow{
  width: 40px;
  height:40px;
  float: right;
}

.sliderLeftArrow{
  width: 40px;
  height: 40px;
  float: left;
}

.centerThisContact{
  width: 100%;
  display: block;
  margin: 0 auto!important;
  text-align: center;
}

/* media query */
@media (max-width: 620px) {
  .menuBtnContainer{
		display: block;
	}

  .topNavyblueDiv{
      text-align: center;
      display: none;
      height: 350px!important;
  }

  .topNavLinks{
    width: 80%;
    display: block!important;
    padding: 20px 0px 0px 0px!important;
    margin: 0px auto!important;
  }

  .mySlider{
    width: 100%;
    height: 350px;
  }

  #sliderContent img{
    height: 250px;
  }

  #map{
    display: none;
  }
}



@media (min-width: 621px) {
  /*.menuBtnContainer{
    display: none!important;
  }*/

  .topNavyblueDiv{
    display: block!important;
    height: 65px!important;
  }

  .topNavLinks{
    color:white!important;
    display: inline-block;
    margin-right: 15px !important;
    margin-top: 10px !important;
    margin-left: 15px !important;
    padding-top: 15px !important;
    text-decoration: none;
  }

  #map{
    display: block;
  }
}
