/* Google fonts */
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.mainmenulink{
  font-size: 150%!important;
}

.disclaimer{
  color: orange!important;
  font-weight: bold!important;
}

.cutoff{
  text-decoration: line-through;
}

.discountDisclaimer{
  font-size: 120%!important;
  font-weight: 150%!important;
}

.discountedPrice{
  color: orange!important;
}

.lastDateOfDiscount{
  color: orange!important;
  font-weight: bold;
}

/* The main page's css #314455*/
#speakerSection{
  width: 100%;
  background: #222222;
}

#speakerWrapper{
  width: 100%;
  color: #ececec;
}

.mainHeading{
  color: #acacac!important;
  font-family: 'Arvo', serif;
}

.priceCard{
  min-height: 352px!important;
  background: #222222!important;
}

.speakerCard{
  margin-top: 30px;
  padding: 3%;
}

.keyNoteSpeakerWrapper{
  display: block;
}

.keynoteSpeakerCard{
  margin-top: 40px;
  padding: 3%;
  display: block;
  margin: 0 auto;

}

.keynoteSpeakerContent{
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  color: #ececec;
  min-height: 0px!important;
}

.keynoteSpeakerContent:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.speakerImg1{
  display: block;
  width: 230px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}

.speakerImg2{
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}

.speakerName1{
  display: block;
  margin-top: 20px;
  text-align: center;
  transition: 0.4s;
  color: #ececec!important;
}

.designation{
  display: block;
  text-align: center;
  font-size: 120%;
}

.makeBold{
  font-weight: 800!important;
  font-size: 18px!important;
}

.speakerName2{
  display: block;
  margin-top: 20px;
  text-align: center;
  transition: 0.4s;
  color: #ececec!important;
}

#section-schedule{
  width: 100%;
}

.scheduleHeading{
  text-align: center;
  display: block;
  padding: 5px;
  margin: 10px 0px 10px 0px;
}

.lineBreakSchedule{
  width: 100%;
  height: 1px;
  background: #acacac;
}

.scheduleAnnounce{
  padding: 15px;
  display: block;
  text-align: center;
  margin: 20px 0px 20px 0px;
}

.speakerName3{
  display: block;
  margin-top: 20px;
  text-align: center;
  transition: 0.4s;
  color: #ececec!important;
}

.speakerName4{
  display: block;
  margin-top: 20px;
  text-align: center;
  transition: 0.4s;
  color: #ececec!important;
}

.speakerCardContent{
  width: 75%;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  color: #ececec!important;
  min-height: 0px!important;
}

.speakerCardContentLevel1{
  min-height: 600px!important;
}

.speakerCardContentLevel2{
  min-height: 600px!important;
}

.digCardContent{
  min-height: 0px!important;
}

.lineBreak{
  height: 2px;
  width: 100%;
  background: #ececec;
  margin: 10px 0px 10px 0px;
}

.dignitaryWrapper{
  margin: 20px 0px 20px 0px;
}

.dignitariesTitle{
  display: block;
  margin: 20px 0px 20px 0px;
  text-align: center;
  text-decoration: underline;
  color: #ececec!important;
  padding: 8px;
}

.speakerProfileInfo{
  padding: 16px;
}

.knowMore{
  text-align: center;
}

.moreC{
  display: none;
}

.moreD{
  display: none;
}
.moreE{
  display: none;
}
.moreF{
  display: none;
}
.moreG{
  display: none;
}
.centerThis{
  display: block!important;
  text-align: center;
}

.speakerCardContent:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.scheduleTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.scheduleTable td, .scheduleTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.scheduleTable tr:nth-child(even){background-color: #f2f2f2;}

.scheduleTable tr:hover {background-color: #ddd;}

.scheduleTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: orange;
  color: white;
}

.scheduleTable tr{
  text-align: center;
}

.makeRowBold{
  background: #f9efcf!important;
}

.makeBoldForTable{
  font-weight: 800;
}


#speakerHeader{
  text-align: center;
  color: #ececec;
}

#speakerIntro{
  margin-top: 20px!important;
  text-align: center;
  font-size: 18px;
  padding: 16px;
  font-weight: 400!important;
  color: #ececec;
}

.makeOrange{
  color: orange!important;
}

#galleryTitle{
	display: block;
	text-align: center;
}

#sliderContent img{
	display: block;
	margin: 20px auto;
	width: 80%;
	height: 450px;
}

.mySlider #imageInfo{
	text-align: center;
	font-weight: bold;
}

.sliderRightArrow{
  width: 40px;
  height:40px;
  float: right;
}

.sliderLeftArrow{
  width: 40px;
  height: 40px;
  float: left;
}


/*  Animations  */
@keyframes type1{
  0%{
      width: 0;
  }
  100%{
    width: 4em;
  }
}

@keyframes blinkCursor1{
  0%{
    border-right: 2px solid white;
  }
  100%{
    border-right: 2px solid black;
  }
}

@keyframes type2 {
  0%{
    width: 0;
  }
  100%{
    width: 1.2em;
  }
}

@keyframes blinkCursor2{
  0%{
    border-right: 2px solid white;
  }
  100%{
    border-right: 2px solid black;
  }
}

@keyframes type3 {
  0%{
    width:0;
  }
  100%{
    width: 4.1em;
  }
}

@keyframes blinkCursor3 {
  0%{
    border-right: 2px solid palegreen;
  }
  100%{
    border-right:2px solid black;
  }
}

@keyframes type4 {
  0%{
    width: 0;
  }
  100%{
    width: 2.3em;
  }
}

@keyframes blinkCursor4 {
  0%{
    border-right: 2px solid white;
  }
  100%{
    border-right: 2px solid #000;
  }
}

@keyframes messageAnim {
  0%{
    color:black;
  }
  100%{
    color:palegreen;
  }
}

@keyframes splashFadeOut {
  0%{
    background-color: #000;
  }
  100%{
    background-color: #fff;
  }
}

@keyframes speakerColorChange {
  0%{
    color: #000;
  }

  100%{
    color:orange;
  }
}

/*media querries */


@media (max-height: 990px) {
  .speakerCardContent{
    /* min-height: 0px!important; */
  }
}
@media(max-height: 700px) {
  .introHeading{
    padding: 10px 0px;
    letter-spacing: 0px!important;
    font-size: 8rem;
  }

  .introHeading{
    padding: 10px 0px;
    letter-spacing: 0px!important;
    font-size: 8rem;
  }

  .splashMessage{
    font-size: 5rem;
    letter-spacing: 0px!important;
    padding-top: 35px;
  }

  .speakerCardContent{
    min-height: 0px!important;
  }

  .infoC{
    display: none;
  }

  .moreC{
    display: block;
  }

  .infoD{
    display: none;
  }

  .moreD{
    display: block;
  }

  .infoE{
    display: none;
  }

  .moreE{
    display: block;
  }

  .infoF{
    display: none;
  }

  .moreF{
    display: block;
  }

  .infoG{
    display: none;
  }

  .moreG{
    display: block;
  }
}

@media (max-width: 480px ) {
  .introHeading{
    padding: 10px 0px;
    font-size: 8rem;
    letter-spacing: 0px!important;
  }

  .introHeading{
    padding: 10px 0px;
    font-size: 8rem;
    letter-spacing: 0px!important;
  }

  .splashMessage{
    font-size: 5rem;
    padding-top: 35px;
    letter-spacing: 0px!important;
  }

  .speakerCardContent{
    min-height: 0px!important;
  }

  .infoC{
    display: none;
  }

  .moreC{
    display: block;
  }

  .infoD{
    display: none;
  }

  .moreD{
    display: block;
  }

  .infoE{
    display: none;
  }

  .moreE{
    display: block;
  }

  .infoF{
    display: none;
  }

  .moreF{
    display: block;
  }

  .infoG{
    display: none;
  }

  .moreG{
    display: block;
  }
}

@media (max-width: 620px) {

  .mySlider{
    width: 80%;
    height: 350px;
  }

  #sliderContent img{
    height: 250px;
  }
}
